.btn-primary:active, .btn-primary.active {
    background-color: #0A386E;
}

.btn-primary:hover, .btn-primary.hover {
    background-color: #0A386E;
}

.hiddenRow {
    padding: 0 !important;
}

.voffset10 {
    margin-top: 10px;
}

.voffset15 {
    margin-top: 15px;
}

.voffset20 {
    margin-top: 20px;
}

fieldset.border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

legend.border {
    width: inherit; /* Or auto */
    padding: 0 10px; /* To give a bit of padding on the left and right */
    border-bottom: none;
    margin-bottom: 0;
}

.form-inline .form-group {
    margin-left: 0;
    margin-right: 0;
}

.row-highlight {
    background-color: yellow;
}

.row-active {
    background-color: green;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
}
