<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>LiBrew {{ hostname }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link type="text/css" href="static/external/bootstrap-3.4.1/css/bootstrap.min.css" rel="stylesheet">
<!-- <link type="text/css" href="static/external/bootstrap-4.3.1/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- CSS Toggle Switch -->
    <link type="text/css" href="static/external/css-toggle-switch/toggle-switch.css" rel="stylesheet">
<!-- <link type="text/css" href="static/external/css-toggle-switch-3f8c314/dist/toggle-switch.css" rel="stylesheet"> -->
<!-- <link type="text/css" href="static/external/css-toggle-switch-9c7e7f1/dist/toggle-switch.css" rel="stylesheet"> -->
    <!-- Brew -->
    <link type="text/css" href="static/librew.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1><span id="machineResponse">{{ hostname }}</span></h1>
        <h4><span id="release-info">{{ release_info }}</span></h4>
    </div>
    <div class="row">
        <div class="col-xs-5">
            <table id="dataTable" class="table table-bordered table-condensed table-responsive" style="border-collapse:collapse">
            <thead>
            <tr>
                <th class="col-xs-4">Name</th>
                <th class="col-xs-2">Temp</th>
                <th class="col-xs-2">Output</th>
                <th class="col-xs-1">Time</th>
            </tr>
            </thead>
            <tbody>
            {% for item in vesselList %} 
            <tr id="Row{{(loop.index0+1)}}" data-toggle="collapse" data-target="#extra_data_info{{(loop.index0+1)}}"
                class="selectRow row-highlight accordion-toggle">
                <td><h5><span id="vesselResponse{{loop.index0+1}}">{{ item }}</span></h5></td>
                <td><h5><span id="tempResponse{{loop.index0+1}}">&infin;</span><span id="tempResponseUnits{{loop.index0+1}}">&deg;C</span></h5></td>
                <td><h5><span id="dutycycleResponse{{loop.index0+1}}"></span><span id="dutyCycleUnits{{loop.index0+1}}"></span></h5></td>
                <td><h5><span id="timeResponse{{loop.index0+1}}"></span><span id="timeResponseUnits{{loop.index0+1}}"></span></h5></td>
            </tr>
            <tr>
                <td colspan="3" class="hiddenRow" id="vessel{{loop.index0+1}}">
                    <div class="accordian-body collapse" id="extra_data_info{{loop.index0+1}}">
                        <div class="voffset15"></div>
                        Mode:<span id="modeResponse{{loop.index0+1}}" class="label label-default"></span>
                        <br>
                        Cycle Time(sec): <span id="cycletimeResponse{{loop.index0+1}}" class="label label-default"></span>
                        <br>
                        Set Point(<span id="setpointResponseUnits{{loop.index0+1}}"></span>): <span id="setpointResponse{{loop.index0+1}}"
                                                                                    class="label label-default"></span>
                        <br>
                        Kc:<span id="k_paramResponse{{loop.index0+1}}" class="label label-default"></span>
                        Ti:<span id="i_paramResponse{{loop.index0+1}}" class="label label-default"></span>
                        Td:<span id="d_paramResponse{{loop.index0+1}}" class="label label-default"></span>
                        <div class="voffset15"></div>
                    </div>
                </td>
            </tr>
            {%endfor%} 
            </tbody>
            </table>
            <div class="voffset20"></div>
            <fieldset class="border">
                <legend class="border">
                    PID Control Panel
                </legend>
                <div class="voffset10"></div>
                <form id="controlPanelForm" method="post" class="form-horizontal" role="form">
                    <div class="row">
                        <div class="form-group">
                            <div class="btn-group col-sm-offset-3" data-toggle="buttons">
                                <label class="btn btn-primary">
                                    <input type="radio" name="mode" id="auto" value="auto">
                                    Auto </label>
                                <label class="btn btn-primary">
                                    <input type="radio" name="mode" id="manual" value="manual">
                                    Manual </label>
                                <label class="btn btn-primary active">
                                    <input type="radio" name="mode" id="off" value="off" checked>
                                    Off </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="setpoint" class="col-xs-4 control-label">Set Point:</label>
                            <div class="input-group col-xs-4">
                                <input type="number" step="any" name="setpoint" class="form-control" id="setpoint"
                                       value={{ set_point }}>
                                <span id="setpointInputUnits" class="input-group-addon"></span>
                            </div>
                            <div class="col-xs-4"></div>
                        </div>
                        <div class="form-group">
                            <label for="dutycycle" class="col-xs-4 control-label">Duty Cycle:</label>
                            <div class="input-group col-xs-4">
                                <input name="dutycycle" id="dutycycle" type="number" step="any" class="form-control"
                                       value={{ duty_cycle }}>
                                <span class="input-group-addon">%</span>
                            </div>
                            <div class="col-xs-4"></div>
                        </div>
                        <div class="form-group">
                            <label for="cycletime" class="col-xs-4 control-label">Cycle Time:</label>
                            <div class="input-group col-xs-4">
                                <input name="cycletime" type="number" step="any" class="form-control" id="cycletime"
                                       value={{ cycle_time }}>
                                <span class="input-group-addon">sec</span>
                            </div>
                            <div class="col-xs-4"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-inline">
                            <div class="col-xs-1"></div>
                            <div class="form-group col-xs-3">
                                <label for="kc_param" class="control-label">Kc:</label>
                                <div class="input-group">
                                    <input name="k" type="number" step="any" class="form-control" id="kc_param"
                                           value={{ k_param }}>
                                </div>
                            </div>
                            <div class="form-group col-xs-3">
                                <label for="ti_param" class="control-label">Ti:</label>
                                <div class="input-group">
                                    <input name="i" type="number" step="any" class="form-control" id="ti_param"
                                           value={{ i_param }}>
                                </div>
                            </div>
                            <div class="form-group col-xs-3">
                                <label for="td_param" class="control-label">Td:</label>
                                <div class="input-group">
                                    <input name="d" type="number" step="any" class="form-control " id="td_param"
                                           value={{ d_param }}>
                                </div>
                            </div>
                            <div class="col-xs-2"></div>
                        </div>
                    </div>
                    <div class="voffset20"></div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-xs-offset-3">
                                <button id="sendcommand" type="submit" class="btn btn-info">
                                    Send Command
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </fieldset>
        </div>
        <div class="col-xs-7 hidden-xs">
            <fieldset class="border">
                <legend class="border">
                    Line Plots
                </legend>
                <div class="row">
                    <div class="ControlResponse" id="tempheatplots">
                        <div class="tempdata">
                            <p class="plottitle">
                                Temperature Plot
                            </p>
                            <div id="tempplot" style="width:500px;height:125px;"></div>
                            <p class="plottitle">
                                Heat Plot
                            </p>
                            <div id="heatplot" style="width:500px;height:125px;"></div>
                            <br/>
                            Window Size:
                            <input id="windowSizeText" type="text" name="windowSize" maxlength="6" size="6" value=65536
                                   style="text-align: right;"/>
                            <br>
                            <button class="btn btn-default" id="stop">
                                Stop Capture
                            </button>
                            <button class="btn btn-default" id="restart">
                                Restart Capture
                            </button>
                            <!-- <button id="calcpid">Calculate PID</button> -->
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="row">
            <fieldset class="border">
                <legend class="border">
                    GPIO Control Panel
                </legend>
                <div class="voffset15"></div>
                <label id="GPIO_label1" class="switch-light well col-xs-3" onclick="">
                    <input id="GPIO1" type="checkbox">
                    <span>PUMP/STIR1:
                        <span>Off</span>
                        <span>On</span>
                    </span>
                    <a id="GPIO_Color1"  class="btn btn-danger"></a>
                </label>
                <label id="GPIO_label2" class="switch-light well col-xs-3" onclick="">
                    <input id="GPIO2" type="checkbox">
                    <span>PUMP/STIR2:
                        <span>Off</span>
                        <span>On</span>
                    </span>
                    <a id="GPIO_Color2" class="btn btn-danger"></a>
                </label>
            </fieldset>
        </div>
    </div>
    <div class="row">
    <p>A <a href="http://www.vandelogt.nl/uk_regelen_pid.php">PID controller</a>
    for the <a href="http://beagleboard.org/black"> Beaglebone Black</a> and <a 
    href="http://beagleboard.org/bone"> derivatives</a>.</p>
    <p>Source code is <a href="https://gitlab.com/petelawler/LiBrew/">
    available</a> on <a href="https://gitlab.com/">GitLab</a>. Based on <a
    href="https://github.com/steve71/RasPiBrew">Stephen Smith's RasPiBrew</a>
    </p>
    </div>
    <div class="row">
        Copyright &copy; Stephen P. Smith, Peter Lawler
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="static/external/jquery-3.4.1/jquery-3.4.1.min.js"></script>
<!-- Bootstrap -->
    <script type="text/javascript" src="static/external/bootstrap-3.4.1/js/bootstrap.min.js"></script>
<!-- <script type="text/javascript" src="static/external/bootstrap-4.3.1/js/bootstrap.min.js"></script> -->
<!-- Flot -->
    <script type="text/javascript" src="static/external/flot-0.8.3/jquery.flot.js"></script>
    <script type="text/javascript" src="static/external/flot-0.8.3/jquery.flot.selection.js"></script>
<!-- <script type="text/javascript" src="static/external/flot-3.2.2/source/jquery.flot.js"></script> -->
<!-- <script type="text/javascript" src="static/external/flot-3.2.2/source/jquery.flot.selection.js"></script> -->
<!-- brew -->
    <script type="text/javascript" src="static/librew.js"></script>
</body>
</html>
